.header {
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #1f3454;
}

.header .logo {
    max-height: 64px;
}

.header .title-group {
    padding-left: 30px;
}

.header .title-group i {
    padding-right: 5px;
}

@media screen and (max-width: 540px) {

    .header .title-group {
        padding-left: 15px;
    }
    .title-group {
        font-size: 0.8rem;
    }

    .header .title-group i {
        font-size: 0.8rem;
    }
}