<h1>Simulador para venda de veículos</h1>
<form [formGroup]="carForm" (ngSubmit)="onFormSubmit()">
    <mat-label>Tipo de veículo</mat-label>
    <mat-select formControlName="tipo" (selectionChange)="onSelectTipo($event)">
        <mat-option *ngFor="let tipo of tiposDeVeiculo" [value] = "tipo">{{tipo.nome}}</mat-option>
    </mat-select>
    <mat-label>Marca</mat-label>
    <mat-select formControlName="marca" (selectionChange)="onSelectMarca($event)">
        <mat-option *ngFor="let marca of marcasDeVeiculo" [value] = "marca">{{marca.nome}}</mat-option>
    </mat-select>
    <button>Consultar</button>    
</form>
